/* global setting */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  --color-basicgrey:#f6f5f3;
  --color-font:#19110b;
 

  /* Font size */
  --font-large: 16px;
  --font-medium: 15px;
  --font-regular: 13px;
  --font-small: 8px;
  --font-micro: 5px;

  --border-bottom: 2px solid #7c7979;

  /* Font weight */
  --weight-1: 100;
  --weight-2: 300;
  --weight-3: 400;
  --weight-4: 500;
  --weight-5: 700;
  --weight-6: 900;
}

/* univalsal tags */
*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  cursor: default;
}

a{
  text-decoration: none;
  color: var(--color-font);
}

ul{
  list-style: none;
  padding: 0;
}

button{
cursor: pointer;
border: none;
outline: none;
}


/* Typography */

h4 {
  font-size: var(--font-large);
  font-weight: var(--weight-5);
  color: var(--color-black);
  margin: 8px 0px;
}

h5 {
  font-size: var(--font-medium);
  font-weight: var(--weight-1);
  color: var(--color-black);
  margin: 8px 0;
}

#topbar{
display: flex;
justify-content: space-between;
text-align: center;
list-style: none;
border-bottom: 2px solid var(--color-basicgrey);
border-top:2px solid var(--color-basicgrey) ;

}

.topbar_left{
  display: flex;
  margin: 1px 0px 0 60px;
  align-items: center;
}

.topbar_left_item{
  padding: 4px 10px;
  color: var(--color-font);
  font-size: var(--font-regular);
  font-weight: var(--weight-1);
  cursor: pointer;
  
}

#location{
  padding-left: 2px;
}
.topbar_right{
  display: flex;
}

.topbar_right_item{
  margin: 1px 15px 0 0;
  padding: 5px;

color: var(--color-font);
font-size: var(--font-medium);
font-weight: var(--weight-1);
cursor: pointer;
}
.topbar_right_item :hover{
  border-bottom: var(--border-bottom);
} 
.topbar_left_item:hover{
  border-bottom: var(--border-bottom);
}

.wishlist-count, .bag-count{
  border: 1px sold var(--color-font);
  border-radius: 50%;
  background-color:var(--color-font);
  color: var(--color-light-white);
  display: inline-block;
  width: 14px;
  height: 11px;
  line-height: 15px;
  margin: 1px;
  

}
#navbar{
  margin: 20px 0;
}

/* .navar-menu{
  display: inline-block;
margin: 22px 30px;
} */
ul.navar-menu>li{
  display: inline-block;
position: relative;
}

.navbar-menu-item{
  
  cursor: pointer;
  font-size: var(--font-regular);
  font-weight: var(--weight-1);
  background-color: var(--color-white);
  color: var(--color-font);
  padding: 0 25px 0 20px;
  
}

ul.navar-menu>li ul.navbar-firstul{
  position: absolute;
}
ul.navar-menu>li ul.navbar-firstul>li{
  display: inline-block;
  text-align: center;
}

/* .navbar-menu:hover>ul{
  display: block;
  } */

.lv-search{
  display: flex;
  background-color: var(--color-basicgrey);
  padding: 12px 120px 12px 21px;
  border-radius: 7%;
  position: relative;
  left: 20em;
}

#search-input{
  margin-left: 10px;
  border: none;
  background: none;
  outline: none;
}

#logo{
  font-size: 20px;
  font-weight: var(--weight-5);
}


.descriptions{
  margin: 0;
  padding: 0;
}

#banner{
  text-align: center;

}
#banner-discription{
  padding: 20px

}

.banner1{
  width: 100%;
  height: 100%;
}

.btn{
  color: white;
  background-color: var(--color-font);
}
.btn:hover{
  color: var(--color-font);
  background-color: var(--color-basicgrey);
}

#banner-btn{
  font-size: var(--font-regular);
  font-weight: var(--weight-1);
  margin: 15px;
  padding: 8px 65px; 
}

.newset{
  display: flex;
  max-width: 100%;
  text-align: center;
}
.newset-left{
  flex-basis: 50%;
  padding: 40px;
  border: 2px solid var(--color-basicgrey);
}
.newset-right{
  flex-basis: 50%;
  border-bottom: 2px solid var(--color-basicgrey);
  border-top: 2px solid var(--color-basicgrey);;
}

#new2-btn{
  font-size: var(--font-medium);
  font-weight: var(--weight-1);
  margin: 15px;
  padding: 12px 80px; 
}
#new3-img{
  padding: 40px 40px 0 40px;
}

.nimg{
  width: 100%;
  height: 100%;
}

#new3-discription{
  padding: 0 20px 20px 20px;
}

#new3-btn{
  font-size: var(--font-regular);
  font-weight: var(--weight-1);
  margin: 15px;
  padding: 8px 65px; 
}

#recommendset{
display: flex;

}

.reco-img{
  width: 100%;
  height: 100%;
}

.recoset{
  text-align: center;
  max-width: 1200;
  display: flex;
}

.recobox{
  padding: 30px;
  border-right: 2px solid var(--color-basicgrey);
}

.footer{
  background-color: #19110b;
  color: white;
  padding: 0 100px ;
}
.footer-title{
  padding: 30px 30px;
  border-bottom: 1px solid #fff7d1;

}

#footer-logo{
color: white;
font-weight: var(--weight-4);
}


.footer-menu{
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  margin: 0;
  font-size: var(--font-medium);
  font-weight: var(--weight-1);
}

.footer-description{
display: flex;
padding: 0 0 30px 0;
}
.first-footer-discrip,
.second-footer-discrip{
  color: var(--color-white);
  font-size: var(--font-small);

}

.first-footer-discrip{
flex-basis: 50%;

}
.second-footer-discrip{
  flex-basis: 50%;
margin: 8px 0;
}