:root{
  /* color */
--color-lightgreen: #008248;
--color-black: #000000;
--color-green: #1e3932;
--color-lightgrey: #f7f7f7;
--color-brightgrey: #f2f2f3;
--color-grey1:#707070;
--color-grey2:#dbd9d7;
--color-brown: #c8a379;
--color-redbrown: #7c4c41;

/* FONT-SIZE */
--font-regular:20px;
--font-title:35px;
--font-small:15px;
--font-subtitle:25px;

/* FONT-WEIGHT */
--weight-1: 100;
--weight-2: 300;
--weight-3: 400;
--weight-4: 500;
--weight-5: 700;
--weight-6: 900;

/* ANNIMATION DURATION */
--anni-duration : 300ms;
}


/* UNIVERSAL TAGS */

body{
  margin: 10px 80px;
}
*{
  box-sizing: border-box;
  /* border-top: 2px solid black; */
  text-decoration: none;
}
a{
  text-decoration: none;
  color: black;
}
button{
  cursor: pointer;
  }

li{
  list-style: none;
}  


/* TYPPGRAPHY */
H1{
  font-size: var(--font-title);
  font-weight: var(--weight-5);
  color: var(--color-black);
  margin: 12px 0;
}
h2{
  font-size: var(--font-subtitle);
  font-weight: var(--weight-5);
  color: var(--color-grey1);
  margin: 12px 0;
}

h3{
  font-size: var(--font-regular);
  font-weight: var(--weight-3);
  color: var(--color-black);
  margin: 8px 0;
}

.menu>li{
  display: inline-block;
}

.menu ul{
  display: none;
  position: absolute;
}
.menu li:hover>ul{
  display: block;
}
.logo-box{
  padding: 0 35px;
  display: flex;
}
.logoimg{
  size: 5px;
  margin-top: 14px;
  margin-bottom: 0;
}
.logo-box i:hover{
  transform: rotate(20deg) scale(1.2);
}

#menu-bar{
  display: flex;
padding: 10px;
margin: 20px 10px 10px 10px;
}
.menu{
  padding: 10px;
}
.menu-item{
  padding: 0 10px;
}
.wrap{
  display: flex;
  align-items: center;
  
}
.menu-list{
  font-size: var(--font-regular);
  color: var(--color-grey1);
}

.btn-box{
  margin-left: 45em;
  line-height: 30px;
  align-items: flex-end;
}
.btn-top{
  margin: 0 5px;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: var(--weight-6);
  background-color: white;
  border-radius: 1em;
  
}
.btn-top:hover{
  background-color:var(--color-green);
} 
#btn-top1:hover{
color: white;
font-weight: var(--weight-5);
}
#btn-top2:hover{
  color:palegoldenrod;
  font-weight: var(--weight-5);
  }

.search-bar{
  background-color: var(--color-green);
margin: 0 30px;
padding-left: 27%;
width: 95%;


}




#search-input{
  width: 500px;
  height: 50px;
  background-color: var(--color-green);
  color:palegoldenrod;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 700;
  border: none;
  outline: none;
  padding: 10px 10px 10px 85px;
}
.abox{
  position: relative;
}
#input-icon{
  font-size: 20px;
  position: absolute;
  left: 2.5em;
  top: 0.5em;
  color: white;
}
/* .input-search{
  width: 550px;
  height: 50px;
  border: 1px solid var(--color-grey1);
  border-radius: 1em;
}  */




#container2{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.topic-best{
  width: 80em;
  margin: 20px 60px 0 60px;
  padding: 0 10px 0 10px;
}
.topic-best-titme{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
padding: 10px 30px;
  border-bottom:1px solid var(--color-grey2)

}

#jj{
  color: black;
}
#jj:hover{
  transform:scale(1.2);
}

.article-best i,.article i{
  letter-spacing: 5px;
}
aside{
  width: 28em;;
  margin: 20px 38px 0 35px;
  background-color: var(--color-lightgrey);
  border-radius: 0.2em;
  padding: 5px 20px;
  text-align: center;
}
.rank{
  text-align: left;
}

.dics{
  font-size: 3px;
}
.article-best{
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
}
.b1,.b2{
  margin: 0 20px;
}
.tit-title{
  color: var(--color-grey1);
  font-size: 12px;
  border: 1px solid var(--color-grey2);
  border-radius: 0.3em;
  padding: 5px;
}

.wrapping{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

hr{
background-color: var(--color-grey2);
border: 0px;
height: 1.5px;
}
.article{
  
  width: 25%;
  border-radius: 0.2em;
  margin: 10px 10px;
  padding: 10px 10px;
  background-color: cornsilk;
  opacity: 0;
  transition: all var(--anni-duration)ease-in;
}



#a1{
  position: absolute;
  top: 3.5em;
  left: 8em;

}
#a2{
  position: absolute;
  top: 3.5em;
  left: 31em;

}
#a3{
  position: absolute;
  top: 3.5em;
  left: 54em;

}
#a4{
  position: absolute;
  top: 21em;
  left: 8em;

}
#a5{
  position: absolute;
  top: 21em;
  left: 31em;

}
#a6{
  position: absolute;
  top: 21em;
  left: 54em;

}

.img-wrap{
  position: sticky;
}
.wrapping:hover .article{
  opacity: 0.93;
}
.bg{
  width: 1200px;
  height: 600px;
  margin: 30px 0;
  opacity: 0.9;
}

.arti1,
.arti2,
.arti3,
.arti4,
.arti5,
.arti6{
  display: flex;
justify-content: space-between;
margin: 7px 7px;
padding: 5px;
padding-right: 15px;
}

.article a:hover{
  font-weight: bold;
  
}

footer{
  text-align: center;
  position: relative;
}
.footer-menu{
  display: flex;
}

.f-li{
  padding: 0 10px;
}
.app-box{
  position: absolute;
  top: 10px;
  left: 60em;
  display: flex;
}
.abox1,.abox2{
  background-color:var(--color-brightgrey);
  margin: 3px 8px;
  padding: 15px 25px;
  border-radius: 10em;
  font-size: 13px
  
}

.abox1 i{
  font-size: 16px;
  
}
.abox1,.abox2 a{
  letter-spacing: 2px;
}